html * {
    font-family: UbuntuLI;
    color: white;
 }

nav {
    background-color: #223344;
}

/* body {
    background:  url("../images/gif.gif") no-repeat center center fixed; 
    background-size: cover;
    ----------------------------------
    Gradient Background
    height: 100%;
    background-image: linear-gradient(to bottom right, #5C258D, #4389A2);
} */

body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Forces Disclaimer Box Be Fixed in Bottom Right */
#disclaimer {
    height: 8rem;
    width: 18rem;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #223344;
}

/* Makes Disclaimer Text Look Nice */
h2 {
    font-size: 20px;
    text-align: center;
    color: #2268FE;
}

/* Creates custom font from online */
@font-face {
    font-family: 'UbuntuLI';
    src: url('../images/other/Ubuntu-LI.ttf'); 
} 

.brand-logo {
    /* Makes Logos Stay Within Navbar */
    width: 64px;
    height: 64px;
}

a {
    height: 64px;
}

.material-icons {
    align-content: center;
    text-align: center;
}

/* Centers logo and paragraph in the homepage */
#para
{
    /* Centers text next to logo */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    /* Centers the logo/paragraph left-to-right */
    justify-content: center;
}

/* Formats the logo in the hompage */
#paraLogo {
    float: left;
    margin-right: 10px;
    clear:both;
}

/* Formats the paragraph in the homepage */
#paraBody {
    margin-left: 0px;
    overflow:auto;
    display:block;
    font-size: 30px;
    color: white;
}

/* Makes game buttons grow/transparent/rounded on hover */
/* .grow { 
    transition: all 0.8s ease-in-out; 
    opacity: 0.7;
    border-radius: 8%;
}
.grow:hover {
    transform: scale(1.5);
    border: 100%;
    opacity: 1;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
} */

/* Hides Scrollbar for Main Body Paragraph */
#paraBody::-webkit-scrollbar { 
    display: none; 
}

/* Width at 320px and below */
@media screen and (max-width: 320px) {
    .col
    {
    display: block;
    float: left;
    }
}

/* Creates the gradient effect around each game button */
.bot-left { 
    border-radius: 50%;
    background: linear-gradient(to bottom, #1F6BFE, #bb27fe 100%);
    padding: 9Px;
    width:300px;
    height:300px;
    border:0;
}
#gameBtn:hover .bot-left{ 
    transform: scale(1.1);
}
  .bot-left {
    transition: all 0.7s;
  }



  /* .bot-left:before, .bot-left:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: -3px;
    
  }
  .bot-left:before {
    top: -3px;
    width: 3px;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#bb27fe), to(transparent));
    background-image: -webkit-linear-gradient(transparent, #bb27fe);
    background-image: -moz-linear-gradient(transparent, #bb27fe);
    background-image: -o-linear-gradient(transparent, #bb27fe);
  }
  .bot-left:after {
    right: -3px;
    height: 3px;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#bb27fe), to(transparent));
    background-image: -webkit-linear-gradient(left, #bb27fe, transparent);
    background-image: -moz-linear-gradient(left, #bb27fe, transparent);
    background-image: -o-linear-gradient(left, #bb27fe, transparent);
  } */


/* Mobile Responsiveness for Youtube Video*/
iframe.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.video-container {
    position: sticky;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    /* Creates space on the left and right sides of video */
    margin-left: 8%;
    margin-right: 8%;
}
.video-container iframe,
.video-container object, 
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Background color for comment box */
.card {
    background-color: #CAC4CE;
    opacity: .8;
    color: white;
}