html * {
    font-family: UbuntuLI;
 }

nav {
    background-color: #223344;
}

body {
    background:  url("../images/gif.gif") no-repeat center center fixed; 
    background-size: cover;
}



@font-face {
    font-family: 'UbuntuLI';
    src: url('../images/other/Ubuntu-LI.ttf'); 
} 

.brand-logo {
    /* Makes Logos Stay Within Navbar */
    width: 64px;
    height: 64px;
}

a {
    height: 64px;
}

.material-icons {
    align-content: center;
    text-align: center;
}